/**************************/
/* HERO SECTION */
/**************************/

.section-hero {
  background-image: linear-gradient(
      to top,
      rgb(0, 0, 0, 0.99),
      rgba(0, 0, 0, 0)
    ),
    url("../img/news-hero-background.jpg");

  background-position: 0 25%;
  background-size: cover;
  background-position: center center;
  padding: 9.6rem 0;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-top: 3.2rem;
  margin-bottom: 4.8rem;
}

/**************************/
/* APOD SECTION */
/**************************/
.section-apod {
  padding: 9.6rem 3.2rem;
}

.apod-form input {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  filter: invert(1);
  border: 1px solid #000;
  background-color: transparent;
  margin-bottom: 3.2rem;
}

.apod-media-container {
  padding-bottom: 1.6rem;
}

.image-of-the-day {
  width: 80%;
}

.apod-info {
  font-size: 1.8rem;
  line-height: 1.8;
  text-align: center;
}

.apod-title {
  font-size: 2rem;
  font-weight: 600;
}

.apod-copyright {
  font-size: 1.4rem;
  margin-bottom: 1.2rem;
}

.apod-description {
  text-align: left;
}

/**************************/
/* END SECTION */
/**************************/

.section-end {
  background-image: linear-gradient(
      to top,
      rgb(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),
    url("../img/end-section-background.jpg");
  background-position: center center;
  background-size: cover;
  height: 9.6rem;
}
