/**************************/
/* HEADER */
/**************************/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  /* background-image: linear-gradient(to bottom, rgb(0, 0, 0), transparent); */
  padding: 1.2rem 4.8rem;

  /* position: absolute; */
  /* width: 100%; */
  border: none;
}

.logo {
  height: 4rem;
}

/**************************/
/* NAVIGATION */
/**************************/

.main-nav-list {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 4.8rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 2rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #bb0000;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 2px;
  color: #fff;
  background-color: #bb0000;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #7b0000;
}

/**************************/
/* HERO SECTION */
/**************************/

.section-hero {
  background-color: aquamarine;
  background-image: linear-gradient(
      to right,
      rgb(0, 0, 0),
      rgba(199, 199, 199, 0)
    ),
    url("../img/hero-background.jpg");
  /* background-position: center center; */
  background-position: 0 25%;
  background-size: cover;
  height: 90.6vh;
  /* padding: 12.8rem 0 9.6rem 0; */
  padding: 9.6rem 0;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  /* padding: 6.4rem 0; */
  color: #fff;
}

.hero-text-box {
  width: 50%;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;

  margin-top: 3.2rem;
  margin-bottom: 4.8rem;
}

.hero-btn-box {
  display: flex;
  align-items: center;
}

.hero-btn-box-title {
  font-size: 2.4rem;
  margin-bottom: 1.6rem;
  padding: 0 1.6rem;
}

/**************************/
/* TRAINING PROGRAM SECTION */
/**************************/

.section-training-program {
  padding: 9.6rem 0;
}

.test {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 2px;
  padding: 2.4rem 3.2rem;
}

.training-program-description {
  font-size: 1.8rem;
  line-height: 1.8;
  color: #fff;
}

.training-program-img {
  width: 100%;
  border-radius: 2px;
}

/**************************/
/* NEWS SECTION */
/**************************/

.section-news {
  padding: 0 0 9.6rem 0;
  color: #fff;
}

.news-container {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
  grid-template-columns: repeat(3, 1fr);

  margin-bottom: 4.8rem;
}

.news {
  cursor: pointer;
  transition: all 0.3s;
}
.news:hover {
  box-shadow: 0 -5px 0 #bb0000;
}

.news-img {
  width: 100%;
  border-radius: 2px;
  transition: all 0.3s;
}
.news:hover img {
  filter: grayscale(100%);
}

.news-content {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 2px;
  padding: 1.6rem 3.2rem;
}

.new-concent-text {
  font-size: 1.8rem;
  line-height: 1.8;
  color: #fff;
  text-align: center;
}

.all-news {
  text-align: center;
  font-size: 2.4rem;
}

/**************************/
/* FEATURED SOLDIER SECTION */
/**************************/

.section-featured-soldiers {
  padding: 0 0 9.6rem 0;
  color: #fff;
}

.featured-soldier-img {
  width: 100%;
  border-radius: 2px;
}

.featured-soldier-content {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 2px;
  padding: 1.6rem 3.2rem;
}

.featured-soldier-name {
  text-align: center;
  font-size: 3.2rem;
  line-height: 1.2;
  font-weight: 700;
  margin-bottom: 0.8rem;
}

.featured-soldier-quote {
  text-align: center;
  font-size: 2rem;
  line-height: 1.2;
  font-weight: 500;
  margin-bottom: 2.4rem;
}

.featured-soldier-text {
  font-size: 1.8rem;
  line-height: 1.8;
}

/**************************/
/* CTA SECTION */
/**************************/
.section-cta {
  background-image: url(../img/cta-background.png);
  background-position: center center;
  background-size: cover;
  padding: 9.6rem 0;
  margin-bottom: 9.6rem;
  color: #fff;
}

.cta {
  display: flex;
  justify-content: end;
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.cta-content {
  width: 50%;
}

.cta-text-box {
  margin: 3rem 0;
  /* padding: 0 3.2rem; */
}

.cta-description {
  font-size: 2rem;
  line-height: 1.6;

  margin-bottom: 4.8rem;
}
