/**************************/
/* NAVIGATION */
/**************************/

/* MOBILE */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;

  display: none;
}

.mobile-nav-logo {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #bb0000;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/**************************/
/* HERO SECTION */
/**************************/

.section-hero {
  background-image: linear-gradient(
      to top,
      rgb(0, 0, 0, 0.99),
      rgba(0, 0, 0, 0)
    ),
    url("../img/news-hero-background.jpg");
  background-position: 0 25%;
  background-size: cover;
  background-position: center center;
  padding: 9.6rem 0;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-top: 3.2rem;
  margin-bottom: 4.8rem;
}

/**************************/
/* TRAINING PROGRAM SECTION */
/**************************/

.section-training-program {
  max-width: 140rem;
  margin: 0 auto;
  padding: 9.6rem 3.2rem;
}

.training-program-description {
  font-size: 1.8rem;
  line-height: 1.8;
}

.training-program-img {
  width: 100%;
  border-radius: 2px;
}

/**************************/
/* MORE WAYS SECTION */
/**************************/
.section-more-ways {
  max-width: 130rem;
  padding: 0 3.2rem;
  margin: 0 auto;
  padding-bottom: 9.6rem;
}
.more-ways-header {
  margin-bottom: 4.8rem;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1.6rem;
  margin: 0 auto;
}

.card {
  position: relative;
  display: flex;
  justify-content: center;
  max-width: 50rem;
  transition: all 0.7s;

  justify-self: center;
}

.card:hover {
  transform: translateY(-2.4rem);
}

.card:hover .card-img {
  filter: brightness(90%);
}

.card-img {
  width: 100%;
  filter: brightness(50%);
  transition: all 0.7s;
}
.card-content {
  display: flex;
  height: 75%;
  align-self: flex-end;
  position: absolute;
  text-align: center;
  padding: 1.6rem 3.2rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0), #000);
  padding-bottom: 9.2rem;
}
.card-content-flex-end {
  align-self: flex-end;
}
.card-sub-title {
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
  margin-bottom: 0.8rem;
}

.card-title {
  font-size: 2.4rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  margin-bottom: 1.6rem;
}

.card-description {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.6;
  margin-bottom: 3.2rem;
}

.card-button,
.card-button:link,
.card-button:visited {
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  text-decoration: none;
  padding: 1.2rem 4.8rem;
  border-radius: 2px;

  cursor: pointer;
  font-family: inherit;
  background-color: transparent;
  color: #fff;
  border: 2px solid #fff;

  transition: all 0.3s;
}

.card-button:hover,
.card-button:active {
  background-color: #bb0000;
  border: 2px solid #bb0000;
}

/**************************/
/* JOIN US SECTION */
/**************************/

.section-join-us {
  padding: 0 0 9.6rem;
}

.join-us-form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.input-div label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.input-div input,
.input-div select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  border: 1px solid #fff;
  background-color: transparent;
  /* border-radius: 9px; */
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.input-div #date {
  color: #000;
  border: 1px solid #000;
  filter: invert(1);
}

.radio-btns {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  margin-top: 1.6rem 0;
  grid-column: 1 / -1;
}

.radio-btns label {
  font-size: 1.6rem;
  font-weight: 500;
  margin-left: 0.9rem;
}
.radio-btns div {
  display: flex;
  align-items: center;
}

.radio-btns input {
  appearance: none;

  border-radius: 50%;
  width: 16px;
  height: 16px;

  border: 1px solid #fff;
  transition: 0.2s all linear;
}

.radio-btns input:checked {
  background-color: #bb0000;
}

.btn--form {
  color: #fff;
  background-color: transparent;

  border: 1px solid #fff;
  transition: all 0.3s;
}

.btn--form:hover {
  background-color: #bb0000;
  border-color: #bb0000;
}

/**************************/
/* END SECTION */
/**************************/

.section-end {
  background-image: linear-gradient(
      to top,
      rgb(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),
    url("/img/end-section-background.jpg");
  background-position: center center;
  background-size: cover;
  height: 9.6rem;
}
